{% extends "HeaderFiles/header.html" %}
{% block content %}
{% load staticfiles %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% include "analyzer/includes/javascriptsnippet.js" %}

<div class="row">
<!-- Map Image -->
	<div class="col-md-4">
		Select a game object including the player weapon (or add a dead player to the search):
		<div class="btn-group">
		<span class="form-inline">
			<label for="weapon"><b>Weapon:&emsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
			<select class="form-control input-sm" id="weapon" name="weapon">
				{% include "analyzer/includes/weaponsnippet.html" %}
			</select>
		</span>
			<button type="button" onclick="setActive('T')" class="btn btn-primary btn-sm">&nbsp;T&nbsp;</button>
			<button type="button" onclick="setDead('T')" class="btn btn-primary btn-sm">Dead T</button>
			<button type="button" onclick="setActive('CT')" class="btn btn-primary btn-sm">&nbsp;CT&nbsp;</button>
			<button type="button" onclick="setDead('CT')" class="btn btn-primary btn-sm">Dead CT</button>
			<button type="button" onclick="setActive('Smoke')" class="btn btn-primary btn-sm">Smoke</button>
			<button type="button" onclick="setActive('Flash')" class="btn btn-primary btn-sm">Flash</button>
			<button type="button" onclick="setActive('Molly')" class="btn btn-primary btn-sm">Molly</button>
			<button type="button" onclick="setActive('HE')" class="btn btn-primary btn-sm">HE</button>
			<button type="button" onclick="setActive('Decoy')" class="btn btn-primary btn-sm">Decoy</button>
			<button type="button" onclick="setActive('BombDown')" class="btn btn-primary btn-sm">Bomb Down</button>
			<button type="button" onclick="setActive('BombPlanted')" class="btn btn-primary btn-sm">Bomb Planted</button>
		</div>
		Place it on the map:
		<img src="{% static 'img/inferno_newcrop.png' %}" id="minimap" width="456" height="451" onclick="get_position()">
	</div>

	{% csrf_token %}
<!-- Nade/bomb/player info -->
	<div class="col-md-3">
		<b>Review the game objects:</b><br>
		<textarea name="gameobjectsbox" id="gameobjectsbox" cols="35" rows="5" readonly="true"></textarea>
		<br>
		<br>
		<div>
			When you've placed all the game objects, run the search:
			<button return="false" id="query" class="btn btn-success btn-md" onclick="runQuery()">GO!</button>
			<button type="button" onclick="clearGameObjects()" class="btn btn-danger btn-md">Clear Board</button>
		</div>
	
	<h4>Instructions:</h4>
	<p>Use the buttons to select a player or grenade.</p>
	<p>Then, click the location of the player or nade on the map.</p>
	<p>Unspecified players will default to any status in the search. Nades and bombs will also always be variable in the results.</p>
	
<!--End of middle column-->
	</div>

<!-- Controls/Options/Run Query -->
	<div class="col-md-4">
		<h4>Options:</h4>
		<div>
			<div class="col-xs-4">
			<b>Map:</b>
				<select id="map" class="form-control input-sm">
					<option value="inferno">Inferno</option>
				</select>
				<span id="Advanced1">

				</span>
			</div>
			<div class="col-xs-4">
			<button type="button" onclick="showAdvanced()" class="btn btn-danger btn-md">Advanced Options</button>
				<span id="Advanced2">

				</span>
			</div>
		</div>
	<!--End of control column-->
	</div>
<!--End of row div-->
</div>

<!-- Pie chart results -->
<div class="col-md-4">
	<h3>Results:</h3>
	<div id="piechart" style="width: 400px; height: 300px;"></div>
</div>

<!-- Table showing games-->
<div class="col-md-4">
	<br>
	<table id="gamedata" style="width:100%">
		<tr>
			<th>Similarity</th>
			<th>Win Reason</th>
			<th>Score (T, CT)</th>
			<th>Match Link (Round Number)</th>
		</tr>
	</table>
</div>

{% endblock %}	