{% load staticfiles %}
<div class="container">
<!-- CT Icons -->
	<img class="imgA1" id="CT1" src="{% static 'img/CT1.png' %}" width="15" height="15">
	<img class="imgA1" id="CT2" src="{% static 'img/CT2.png' %}" width="15" height="15">
	<img class="imgA1" id="CT3" src="{% static 'img/CT3.png' %}" width="15" height="15">
	<img class="imgA1" id="CT4" src="{% static 'img/CT4.png' %}" width="15" height="15">
	<img class="imgA1" id="CT5" src="{% static 'img/CT5.png' %}" width="15" height="15">
<!-- T Icons -->
	<img class="imgA1" id="T1" src="{% static 'img/T1.png' %}" width="15" height="15">
	<img class="imgA1" id="T2" src="{% static 'img/T2.png' %}" width="15" height="15">
	<img class="imgA1" id="T3" src="{% static 'img/T3.png' %}" width="15" height="15">
	<img class="imgA1" id="T4" src="{% static 'img/T4.png' %}" width="15" height="15">
	<img class="imgA1" id="T5" src="{% static 'img/T5.png' %}" width="15" height="15">
<!-- Smoke Icons -->
	<img class="imgA1" id="Smoke1" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke2" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke3" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke4" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke5" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke6" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke7" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke8" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke9" src="{% static 'img/Smoke.png' %}" width="30" height="30">
	<img class="imgA1" id="Smoke10" src="{% static 'img/Smoke.png' %}" width="30" height="30">
<!-- Flash Icons -->
	<img class="imgA1" id="Flash1" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash2" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash3" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash4" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash5" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash6" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash7" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash8" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash9" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash10" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash11" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash12" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">	
	<img class="imgA1" id="Flash13" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash14" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash15" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash16" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash17" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash18" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash19" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
	<img class="imgA1" id="Flash20" src="{% static 'img/Flash.png' %}" style="opacity:0.5;filter:alpha(opacity=40);" width="30" height="30">
<!-- HE Icons -->
	<img class="imgA1" id="HE1" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE2" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE3" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE4" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE5" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE6" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE7" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE8" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE9" src="{% static 'img/HE.png' %}" width="20" height="20">
	<img class="imgA1" id="HE10" src="{% static 'img/HE.png' %}" width="20" height="20">
<!-- Molly Icons -->
	<img class="imgA1" id="Molly1" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly2" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly3" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly4" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly5" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly6" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly7" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly8" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly9" src="{% static 'img/Molly.png' %}" width="30" height="30">
	<img class="imgA1" id="Molly10" src="{% static 'img/Molly.png' %}" width="30" height="30">
<!-- Decoy Icons -->
	<img class="imgA1" id="Decoy1" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy2" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy3" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy4" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy5" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy6" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy7" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy8" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy9" src="{% static 'img/Decoy.png' %}" width="15" height="15">
	<img class="imgA1" id="Decoy10" src="{% static 'img/Decoy.png' %}" width="15" height="15">
<!-- Bombs -->
	<img class="imgA2" id="bombdown" src="{% static 'img/bombdown.png' %}" width="15" height="15">
	<img class="imgA2" id="bombplanted" src="{% static 'img/bombplanted.png' %}" width="15" height="15">	
<!-- Cheeky hide -->
	<img class="imgA2" id="cheekycover" src="{% static 'img/cover.png' %}" width="30" height="30">	
</div>