{% extends "HeaderFiles/header.html" %}
{% block content %}
{% load staticfiles %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="{% static 'js/jquery.maphilight.js' %}"></script>
    <script type="text/javascript">$(function() {$('.map').maphilight({"strokeColor":"0080FF","strokeWidth":1,"fillColor":"0080FF","fillOpacity":0.3});
	});</script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% include "analyzer/includes/javascriptsnippet.js" %}

<div class="row">
<!-- Map Image -->
	<div class="col-md-4">
		<img src="{% static 'img/inferno_newcrop.png' %}" id="minimap" width="456" height="451" onclick="get_position()">
	</div>


<!-- Beginning of query form -->

	{% csrf_token %}

<!-- Nade/bomb/player info -->
	<div class="col-md-4">
		<b>Game Objects:</b><br>
		<textarea name="gameobjectsbox" id="gameobjectsbox" cols="59" rows="5" readonly="true" onclick="$('#gameobjectsbox').getSelection()"></textarea>

		<b>Nade/Bomb:</b>
		<div class="btn-group">
			<button type="button" onclick="setActive('Smoke')" class="btn btn-primary btn-sm">Smoke</button>
			<button type="button" onclick="setActive('Flash')" class="btn btn-primary btn-sm">Flash</button>
			<button type="button" onclick="setActive('Molly')" class="btn btn-primary btn-sm">Molly</button>
			<button type="button" onclick="setActive('HE')" class="btn btn-primary btn-sm">HE</button>
			<button type="button" onclick="setActive('Decoy')" class="btn btn-primary btn-sm">Decoy</button>
			<button type="button" onclick="setActive('BombDown')" class="btn btn-primary btn-sm">Bomb Down</button>
			<button type="button" onclick="setActive('BombPlanted')" class="btn btn-primary btn-sm">Bomb Planted</button>
		</div>

		<br>

		<b>Weapon:</b>
		<select class="form-control input-sm" id="weapon" name="weapon">
			{% include "analyzer/includes/weaponsnippet.html" %}
		</select>
		<div class="btn-group">
			<button type="button" onclick="setActive('T')" class="btn btn-primary btn-sm">T</button>
			<button type="button" onclick="setDead('T')" class="btn btn-primary btn-sm">Dead T</button>
			<button type="button" onclick="setActive('CT')" class="btn btn-primary btn-sm">CT</button>
			<button type="button" onclick="setDead('CT')" class="btn btn-primary btn-sm">Dead CT</button>
			<button type="button" onclick="clearGameObjects()" class="btn btn-danger btn-sm">Clear Board</button>
		</div>

<!--End of middle column-->
	</div>

<!-- Controls/Options/Run Query -->
	<div class="col-md-4">

	<h4>Options:</h4>
	<div>
		<b>Rank:</b>
		<select id="rank" class="form-control input-sm">
			<option value="pro">Pro</option>
			<option value="all">All</option>
			<option value="allmm">All MM</option>
			<option value="global">Global</option>
			<option value="smfc">SMFC</option>
			<option value="eagle">Eagle</option>
			<option value="mgedmg">MGE/DMG</option>
			<option value="mg">MG1/2</option>
			<option value="gn34">GN3/4</option>
			<option value="gn12">GN1/2</option>
			<option value="s45">Silver4/5</option>
			<option value="s123">ChuBot's Level</option>
		</select>
	</div>
	<div>
		<b>Map:</b>
		<select id="map" class="form-control input-sm">
			<option value="inferno">Inferno</option>
		</select>
	</div>

	<h4>Instructions:</h4>
	<p>Use the selection menus labeled "Nade/Bomb" and "Weapon" to choose the nade or weapon of the relevant player.</p>
	<p>Click "Add Selected" or "Add T/CT", then click the location of the player or nade on the map.</p>
	<p>Unspecified players will always default to any status in the search. Nades and bombs will also always be variable in the results.</p>


	<div>
		<button return="false" class="btn btn-success btn-lg" onclick="runQuery()">Query</button>
	</div>
<!-- End of query form -->
	</form>
	<!--End of control column-->
	</div>


</div> <!--End of row div-->

<!-- Pie chart results -->
	<div class="col-md-3">
		<h3>Results:</h3>
		<div id="piechart" style="width: 400px; height: 300px;"></div>
	</div>

<body onload="errorTest()">

{% endblock %}	