    {% load staticfiles %}
	
	<script type="text/javascript">
	
	function errorTest()
	{
		if ({{BadSearch}}) {
			resetAll();
		} else if ({{Error}}) {
			alert("Something went wrong!");
			resetAll();
		} else if ({{NoGames}}) {
			alert("No games matched your search. Consider removing some limited factors.");
			resetAll();			
		}
	}
	
	<!-- Pie Chart Code -->	
	google.charts.load('current', {'packages':['corechart']});
	<!-- google.charts.setOnLoadCallback(drawChart); -->
		
	function drawChart(data) 
	{
		var chart = new google.visualization.PieChart(document.getElementById('piechart'));
		
		var options = {
		  title: 'Round Results',
		  backgroundColor: '#f6f6f6',
		  chartArea:{width:'100%',height:'100%'},
		  colors:['#2554C7','#002295','#00004F','#C79926','#947100']
		};

		chart.draw(data, options);
	}

	
	function setActive(newObject)
	{
		if (BOMBCOUNT == 1 && (newObject == "BombDown" || newObject == "BombPlanted")) 
		{
			alert("You already have a bomb somewhere!");
		} else if (newObject == "T" && TCOUNT > 5) {
			alert("Too many Ts!");
		} else if (newObject == "CT" && CTCOUNT > 5) {
			alert("Too many CTs!");
		} else {
			OBJECT = newObject;
		}
	}
	
	//Special case of set active
	function setDead(player)
	{
		if (player == "T" && TCOUNT >= 5) {
			alert("Too many Ts!");
		} else if (player == "CT" && CTCOUNT >= 5) {
			alert("Too many CTs!");
		} else if (player == "T") {
			TCOUNT += 1
			OBJECT = "null";
			GAMEOBJECTS.push(player + " - Dead - Still dead");
			gameobjectsbox.value=GAMEOBJECTS.join("\n");
		} else if (player == "CT") {
			CTCOUNT += 1
			OBJECT = "null";
			GAMEOBJECTS.push(player + " - Dead - Still dead");
			gameobjectsbox.value=GAMEOBJECTS.join("\n");
		}
	}
	
	function setObjectPosition(positionID, selectedObject)
	{
		if (selectedObject != null)
		{
			switch (selectedObject) 
			{
				case "BombDown" :
				case "BombPlanted" :
				<!-- Too many bombs is handled by setActive, so setting a bomb can't be done. Could probably be hacked but it will just give zero results in the query.-->
					BOMBCOUNT = BOMBCOUNT + 1;
					insertIcon(nadetype);
					selectedObject = nadetype.replace("BombDown", "Bomb Down").replace("BombPlanted", "Bomb Planted")
					break;
					
				case "Smoke" :
					SMOKECOUNT = SMOKECOUNT + 1;
					if (SMOKECOUNT > 10){alert("More than 10 Smokes?");}
					cursorX = cursorX - 7
					cursorY = cursorY - 7
					insertIcon(selectedObject + SMOKECOUNT);
					break;
				
				case "Flash" : 
					FLASHCOUNT = FLASHCOUNT + 1;
					if (FLASHCOUNT > 20){alert("More than 20 Flashes?");}
					cursorX = cursorX - 7
					cursorY = cursorY - 7
					insertIcon(selectedObject + FLASHCOUNT);
					break;
				
				case "HE" : 
					HECOUNT = HECOUNT + 1;
					if (HECOUNT > 10){alert("More than 10 HEs?");}
					cursorX = cursorX - 3
					cursorY = cursorY - 3
					insertIcon(selectedObject + HECOUNT);
					break;
				
				case "Molly" : 
					MOLLYCOUNT = MOLLYCOUNT + 1;
					if (MOLLYCOUNT > 10){alert("More than 10 mollies?");}
					cursorX = cursorX - 5
					cursorY = cursorY - 10
					insertIcon(selectedObject + MOLLYCOUNT);
					break;
				
				case "Decoy" : 
					DECOYCOUNT = DECOYCOUNT + 1;
					if (DECOYCOUNT > 10){alert("More than 10 Decoys? Bold strategy.");}
					insertIcon(selectedObject + DECOYCOUNT);
					break;
				
				case "T" :
					insertIcon(selectedObject + TCOUNT);
					selectedObject = selectedObject + ' - ' + document.getElementById('weapon').value;
					break;
					
				case "CT" : 
					selectedObject = selectedObject + ' - ' + document.getElementById('weapon').value;
					insertIcon(selectedObject + CTCOUNT);
					break;
					
				default :
					alert("You snuck a weird thing in!");
					break;
			}
				
			OBJECT = null;
			GAMEOBJECTS.push(selectedObject + ' - ' + positionID)
			gameobjectsbox.value=GAMEOBJECTS.join("\n");
		}
	}
	
	//TODO: Fix this!
	function insertIcon(selectedIcon) 
	{
		// myImage : ID of image on which to place new image
		var image = document.getElementById("maplistener");

		console.log(image.width);

		margin = 20;

		l = image.offsetLeft;
		t = image.offsetTop;
		w = image.width;
		h = image.height;

		// Location inside the image
		offX = parseInt(Math.random() * w);
		offY = parseInt(Math.random() * h);

		if(offX > margin) offX -= margin;
		if(offY > margin) offY -= margin;

		l += offX;
		t += offY;

		var newImage = document.createElement("img");
		newImage.setAttribute('src', "{% static 'img/1.jpg' %}");
		newImage.setAttribute('class', 'overlays');
		newImage.style.left = l + "px";
		newImage.style.top = t + "px";
		document.body.appendChild(newImage);
	}
	
	//function insertIcon(selectedIcon)
	//{
	//    var avatar = document.getElementById(selectedIcon);
	//	avatar.style.left = cursorX + "px";
	//	avatar.style.top = cursorY + "px";	
	//}
	
	function clearGameObjects()
	{
		GAMEOBJECTS.length = 0;
		gameobjectsbox.value=GAMEOBJECTS.join("\n");
		
		TCOUNT = 0;
		CTCOUNT = 0;
		SMOKECOUNT = 0;
		FLASHCOUNT = 0;
		HECOUNT = 0;
		MOLLYCOUNT = 0;
		DECOYCOUNT = 0;
		BOMBCOUNT = 0;
		
		resetAllIcons();
	}
	
	//Consider refactoring to more accurate "deleteIcon"
	function resetIcon(selectedIcon)
	{
		var icon = document.getElementById(selectedIcon);
		icon.parentNode.removeChild(icon);
	}
	
	function resetAllIcons()
	{
		for (i = 1; i <=5; i++)
		{
		resetIcon("CT"+i);
		resetIcon("T"+i);
		}

		for (i = 1; i <=10; i++)
		{
			resetIcon("Smoke" + i);
			resetIcon("Flash" + i);
			<!-- Allows for up to 20 flashes -->
			resetIcon("Flash" + (i + 10)); 
			resetIcon("HE" + i);
			resetIcon("Molly" + i);
			resetIcon("Decoy" + i);
		}
		
		resetIcon("bombdown");
		resetIcon("bombplanted");
	}
	
	function resetAll()
	{
		clearGameObjects();
		OBJECT = "null";			
		drawResults();
	}
	
	
	function drawResults()
	{
		var data = google.visualization.arrayToDataTable([
          ['Winner', 'Percent'],
          ['CTKills', {{CTKill}}],
          ['Defuse', {{Defuse}}],
          ['Time',  {{Time}}],
          ['TKills', {{TKill}}],
          ['Target Bombed', {{TargetBombed}}],
        ]);	
		
		drawChart(data);
	}
	
	

</script>